<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex" />
    <link rel="icon" href="favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500" rel="stylesheet" type="text/css">
</head>
<body>
    <a href="#mainContent" class="skip-link">Menuju ke konten</a>
    <header class="header">
        <div class="header_inner">
            <h1 class="header_title">
                Delizia Apps
            </h1>
            <a href="#" id="hamburgerButton" class="header_menu">☰</a>
            <nav id="navigationDrawer" class="nav">
                <ul class="nav_list">
                    <li class="nav_item"><a href="./">Home</a></li>
                    <li class="nav_item"><a href="#/favorite">Favorite</a></li>
                    <li class="nav_item"><a href="https://rifkyfuady.github.io/" target="_blank">About Us</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    <div class="hero">
        <div class="hero_inner">
            <h2 class="hero_title">Temukan lokasi restoran terbaik</h2>
            <p class="hero_tagline">Menyantap makanan atau minuman lezat wajib di tempat yang nyaman</p>
        </div>
    </div>

    <main id="mainContent">
        
    </main>

    <footer id="footer">
    </footer>
    <noscript>Browser anda tidak mendukung atau belum mengaktifkan JavaScript!</noscript>
</body>
</html>
