<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex" />
    <link rel="icon" href="favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500" rel="stylesheet" type="text/css">
</head>
<body>
    <button onclick="document.getElementById('mainContent').focus();" class="skip-link">Menuju ke konten</button>
    <header class="header">
        <div class="header_menu">
            <button id="hamburgerButton">☰</button>
        </div>
        <div class="header_brand">
            <h1>Delizia Apps</h1>
        </div>
        <nav id="navigationDrawer" class="header_navigation">
            <ul class="nav_list">
                <li class="nav_item"><a href="./">Home</a></li>
                <li class="nav_item"><a href="#/favorite">Favorite</a></li>
                <li class="nav_item"><a href="https://rifkyfuady.github.io/" target="_blank">About Us</a></li>
            </ul>
        </nav>
    </header>

    <main id="mainContent" tabindex="0">
    </main>

    <footer-widget id="footerWidget"></footer-widget>
    <noscript>Browser anda tidak mendukung atau belum mengaktifkan JavaScript!</noscript>
</body>
</html>
