* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Quicksand", sans-serif;
	font-size: 1em;
	color: #424242;
	min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.skip-link {
	position: absolute;
	top: -40px;
	left: 0;
	background-color: #bf1722;
	color: white;
	padding: 8px;
	z-index: 100;
}

.skip-link:focus {
	top: 0;
}


/*
 * Header
 *
 */

.header {
	background-color: #810000;
	padding: 8px 16px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.header .header_menu {
	display: flex;
  align-items: center;
}

.header .header_menu button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  padding: 8px;
  cursor: pointer;
	color: #eeeeee;
}

.header .header_brand {
	display: flex;
  align-items: center;
}

.header .header_brand h1 {
  color: #eeeeee;
  text-transform: uppercase;
  font-size: 22px;
  user-select: none;
}

.header .header_navigation {
  position: absolute;
  top: 50px;
  left: -180px;
  width: 150px;
  transition: all 0.3s;
  padding: 8px;
  background-color: #810000;
  overflow: hidden;
}
 
.header .header_navigation.open {
  left: 0;
}
 
.header .header_navigation ul li a {
  display: inline-block;
  text-decoration: none;
  color: #cecece;
	font-weight: bold;
  padding: 8px;
  margin-bottom: 5px;
  width: 100%;
}

.header .header_navigation ul li a:focus, .header .header_navigation ul li a:hover {
  color: #fff;
}

/*
 * main
 */

main {
  flex: 1;
}

/*
 * content
 */

.content {
	padding: 32px;
	margin: 0 auto;
  min-height: 100%;
}

.content .content_heading {
  font-weight: normal;
}

/*
 * Jumbotron
 */

.hero {
	display: flex;
	align-items: center;
	min-height: 380px;
	width: 100%;
	text-align: center;
	background-image: url("./images/heros/hero-image_2.jpg");
	background-position: center;
	background-color: #ce1212;
	background-repeat: no-repeat;
	background-size: cover;
}

.hero_inner {
	margin: 0 auto;
	background-color: rgba(0, 0, 0, .3);
	border-radius: 3px;
	padding: 30px;
}

.hero_title {
	color: #fff;
	font-weight: 500;
	font-size: 36px;
}

.hero_tagline {
	color: #fff;
	margin-top: 16px;
	font-size: 18px;
}

/*
 * restaurants
 */

.restaurants {
	display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin: 32px 0;
}

/*
 * restaurant item
 */

.restaurant-item {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	width: 100%;
	border-radius: 5px;
	overflow: hidden;
}

.restaurant-item_header {
  position: relative;
}

.restaurant-item_header_ribbon {
  position: absolute;
  right: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 100%; 
  height: 100%;
  text-align: right;
}
.restaurant-item_header_ribbon span {
  font-size: 2vh;
  font-weight: bold;
  color: #ffe234;
  text-align: center;
  line-height: 3vh;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 30vh;
  display: block;
  background: #79A70A;
  background: linear-gradient(#F70505 0%, #8F0808 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 2vh; right: -10vh;
}
.restaurant-item_header_ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #8F0808;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F0808;
}
.restaurant-item_header_ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #8F0808;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F0808;
}

.restaurant-item .restaurant-item_header .restaurant-item_header_photo {
  width: 100%;
}

.restaurant-item .restaurant-item_content {
  padding: 16px;
}
 
.restaurant-item .restaurant-item_content h3 {
  margin: 0 0 10px 0;
}
 
.restaurant-item .restaurant-item_content h3 a {
  color: #db0000;
  text-decoration: none;
}
 
.restaurant-item .movie-item_content p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.restaurant-item .restaurant-item-btn {
	margin-top: 16px;
	min-width: 44px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #fff;
	border: .05rem solid #ce1212;
	border-radius: .1rem;
	color: #ce1212;
	cursor: pointer;
	display: inline-block;
	font-size: .8rem;
	height: 1.8rem;
	line-height: 1.2rem;
	outline: 0;
	padding: .6rem .4rem;
	text-align: center;
	text-decoration: none;
	transition: background .2s, border .2s, box-shadow .2s, color .2s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;
	min-height: 44px;
}

.restaurant-item .restaurant-item-btn:hover,
.restaurant-item .restaurant-item-btn:focus {
	background: #fcf1f1;
	border-color: #ce1212;
	text-decoration: none;
} 

/*
  Restaurant
*/

.panel {
	overflow:hidden;
	padding: 15px;
  margin-bottom: 1.25rem;
  border-radius: 5px;
  background-color: #FFF;
  -webkit-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%), 0 0 2px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%), 0 0 2px 0 rgb(0 0 0 / 12%);
}
 
.restaurant {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px 16px;
}
 
.restaurant .restaurant_photo {
	display: block;
  margin-left: auto;
  margin-right: auto;
	border-radius: 5px;
  width: 100%;
  max-width: 400px;
}
 
.restaurant .restaurant_info h4 {
  margin: 16px 0;
}

.restaurant .restaurant_food h3, .restaurant .restaurant_drink h3, 
.restaurant .restaurant_description h3, .restaurant .restaurant_review h3 {
  margin: 8px 0;
}

.restaurant .restaurant_food ul, .restaurant .restaurant_drink ul {	
	padding-inline-start: 25px;
}

.restaurant_review_title {
  display: flex;
  justify-content: space-between;
}

#customerReviews {
	margin-top: 1.25rem;
}

#customerReviews .panel{
  margin-top: 2.5rem;
}

#customerReviews .panel h4 {
  margin: 16px 0;
}

.divider {
	border-top: .05rem solid #f1f3f5;
	height: .05rem;
	margin: .4rem 0;
}

.card {
	position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  margin-bottom: 1.25rem;
	overflow:hidden;
}

.card .card-header {
	padding: .5rem 1rem;
	margin-bottom: 0;
	background-color: rgba(0,0,0,.03);
	border-bottom: 1px solid rgba(0,0,0,.125);
}

.card .card-header h4 {
	text-transform: capitalize;
}

.card .card-body {
	flex: 1 1 auto;
	padding: 1rem 1rem;
}

.card .card-body .card-text{
	margin: 8px 0;
}

.card .card-body .card-date {
	font-size: .8em;
	text-align: right;
}

.form-group:not(:last-child) {
  margin-bottom: .4rem;
}

.form-label {
  display: block;
  line-height: 1.2rem;
  padding: .3rem 0;
}

.form-input {
	min-height: 44px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff;
  background-image: none;
  border: .05rem solid #bcc3ce;
  border-radius: .1rem;
  color: #3b4351;
  display: block;
  font-size: .8rem;
  height: 1.8rem;
  line-height: 1.2rem;
  max-width: 100%;
  outline: 0;
  padding: .25rem .4rem;
  position: relative;
  transition: background .2s,border .2s,box-shadow .2s,color .2s;
  width: 100%;
  margin: 8px 0;
}

.form-input:focus {
  border-color: #5755d9;
  box-shadow: 0 0 0 0.1rem rgb(87 85 217 / 20%);
}

textarea.form-input {
  height: auto;
}

.loader {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba( 255, 255, 255, .8) url('./images/loader.gif') 50% 50% no-repeat;
}

body.loading {
  overflow: hidden;
}

body.loading .loader {
  display: block;
}

.btn {
	min-width: 44px;
	min-height: 44px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff;
  border: .05rem solid #5755d9;
  border-radius: .1rem;
  color: #5755d9;
  cursor: pointer;
  display: inline-block;
  font-size: .8rem;
  height: 1.8rem;
  line-height: 1.2rem;
  outline: 0;
  padding: .25rem .4rem;
  text-align: center;
  text-decoration: none;
  transition: background .2s,border .2s,box-shadow .2s,color .2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.btn.btn-primary {
  background: #5755d9;
  border-color: #4b48d6;
  color: #fff;
}

.btn:focus, .btn:hover {
  background: #f1f1fc;
  border-color: #4b48d6;
  text-decoration: none;
}

.btn.active, .btn:active {
  background: #4b48d6;
  border-color: #3634d2;
  color: #fff;
  text-decoration: none;
}

.btn.btn-primary:focus, .btn.btn-primary:hover {
  background: #4240d4;
  border-color: #3634d2;
  color: #fff;
}

.btn.btn-primary.active, .btn.btn-primary:active {
  background: #3a38d2;
  border-color: #302ecd;
  color: #fff;
}

.btn.tooltip {
  position: relative;
}

.alert {
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.alert-danger {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}

.alert-danger .alert-link {
  color: #6a1a21;
}

.alert-link {
  font-weight: 700;
}

/*
   Floating action button
*/
.fab {
  position: fixed;
  bottom: 16px;
  right: 16px;
  color: #fff;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fab.fab-danger {
  background-color: #e85600;
}

.fab.fab-success {
  background-color: #32b643;
}

.fab.fab-success:focus, .fab.fab-success:hover, .fab.fab-success:active {
  background: #30ae40;
  border-color: #2da23c;
  color: #fff;
}

.fab.fab-danger:focus, .fab.fab-danger:hover, .fab.fab-danger:active {
  background: #de5200;
  border-color: #cf4d00;
  color: #fff;
}

.tooltip::after {
  background: rgba(48,55,66,.95);
  border-radius: .1rem;
  bottom: 100%;
  color: #fff;
  content: attr(data-tooltip);
  display: block;
  font-size: .7rem;
  left: 50%;
  max-width: 320px;
  opacity: 0;
  overflow: hidden;
  padding: .2rem .4rem;
  pointer-events: none;
  position: absolute;
  text-overflow: ellipsis;
  transform: translate(-50%,.4rem);
  transition: opacity .2s,transform .2s;
  white-space: pre;
  z-index: 300;
}

.tooltip:focus::after, .tooltip:hover::after {
  opacity: 1;
  transform: translate(-50%,-.2rem);
}

.tooltip.tooltip-left:focus::after, .tooltip.tooltip-left:hover::after {
  transform: translate(-.2rem,50%);
}

.tooltip.tooltip-left::after {
  bottom: 50%;
  left: auto;
  right: 100%;
  transform: translate(.4rem,50%);
}


/*
 * footer
 */

#footerWidget {
  padding: 16px;
	background-color: #810000;
}
 
#footerWidget p {
  text-align: center;
  color: #eeeeee;
}
 
#footerWidget p a {
  color: #cecece;
  text-decoration: none;
}

#footerWidget p a:focus, #footerWidget p a:hover {
  color: #fff;
}