* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Quicksand", sans-serif;
	font-size: 1em;
	color: #424242;
	min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.skip-link {
	position: absolute;
	top: -40px;
	left: 0;
	background-color: #bf1722;
	color: white;
	padding: 8px;
	z-index: 100;
}

.skip-link:focus {
	top: 0;
}


/*
 * Header
 *
 */

.header {
	background-color: #810000;
	padding: 8px 16px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.header .header_menu {
	display: flex;
  align-items: center;
}

.header .header_menu button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  padding: 8px;
  cursor: pointer;
	color: #eeeeee;
}

.header .header_brand {
	display: flex;
  align-items: center;
}

.header .header_brand h1 {
  color: #eeeeee;
  text-transform: uppercase;
  font-size: 22px;
  user-select: none;
}

.header .header_navigation {
  position: absolute;
  top: 50px;
  left: -180px;
  width: 150px;
  transition: all 0.3s;
  padding: 8px;
  background-color: #810000;
  overflow: hidden;
}
 
.header .header_navigation.open {
  left: 0;
}
 
.header .header_navigation ul li a {
  display: inline-block;
  text-decoration: none;
  color: #cecece;
  padding: 8px;
  margin-bottom: 5px;
  width: 100%;
}

.header .header_navigation ul li a:focus, .header .header_navigation ul li a:hover {
  color: #fff;
}

/*
 * main
 */

main {
  flex: 1;
}

/*
 * content
 */

.content {
	padding: 32px;
	margin: 0 auto;
  min-height: 100%;
}

.content .content_heading {
  font-weight: normal;
}

/*
 * Jumbotron
 */

.hero {
	display: flex;
	align-items: center;
	min-height: 380px;
	width: 100%;
	text-align: center;
	background-image: url("./images/heros/hero-image_2.jpg");
	background-position: center;
	background-color: #ce1212;
	background-repeat: no-repeat;
	background-size: cover;
}

.hero_inner {
	margin: 0 auto;
	background-color: rgba(0, 0, 0, .3);
	border-radius: 3px;
	padding: 30px;
}

.hero_title {
	color: #fff;
	font-weight: 500;
	font-size: 36px;
}

.hero_tagline {
	color: #fff;
	margin-top: 16px;
	font-size: 18px;
}

/*
 * restaurants
 */

.restaurants {
	display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin: 32px 0;
}

/*
 * restaurant item
 */

.restaurant-item {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	width: 100%;
	border-radius: 5px;
	overflow: hidden;
}

.restaurant-item_header {
  position: relative;
}
 
.restaurant-item .restaurant-item_header .restaurant-item_header_photo {
  width: 100%;
}
 
.restaurant-item .restaurant-item_header .restaurant-item_header_rating {
  position: absolute;
  padding: 8px;
  bottom: 20px;
  left: 0;
  display: inline-block;
  background-color: black;
  color: white;
}
 
.restaurant-item .restaurant-item_header .restaurant-item_header_rating .restaurant-item_header_rating_score {
  margin-left: 10px;
}
 
.restaurant-item .restaurant-item_content {
  padding: 16px;
}
 
.restaurant-item .restaurant-item_content h3 {
  margin: 0 0 10px 0;
}
 
.restaurant-item .restaurant-item_content h3 a {
  color: #db0000;
  text-decoration: none;
}
 
.restaurant-item .movie-item_content p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.restaurant-item .restaurant-item-btn {
	margin-top: 16px;
	min-width: 44px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #fff;
	border: .05rem solid #ce1212;
	border-radius: .1rem;
	color: #ce1212;
	cursor: pointer;
	display: inline-block;
	font-size: .8rem;
	height: 1.8rem;
	line-height: 1.2rem;
	outline: 0;
	padding: .6rem .4rem;
	text-align: center;
	text-decoration: none;
	transition: background .2s, border .2s, box-shadow .2s, color .2s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;
	min-height: 44px;
}

.restaurant-item .restaurant-item-btn:hover,
.restaurant-item .restaurant-item-btn:focus {
	background: #fcf1f1;
	border-color: #ce1212;
	text-decoration: none;
} 

/* .restaurant-figure {
	position: relative;
}

.restaurant-item_location {
	position: absolute;
	top: 20px;
	left: 20px;
	background-color: black;
	color: white;
	padding: 10px;
	font-size: 14px;
}

.restaurant-item_address {
	font-size: 10px;
	text-transform: uppercase;
	color: #fff;
	position: absolute;
	right: 0;
	bottom: 2%;
	background-color: #000;
	padding: 5px;
}

.restaurant-item_thumbnail {
	width: 100%;
}

.restaurant-item_content {
	padding: 16px;
}

.restaurant-item_rating {
	font-size: 14px;
	font-weight: 500;
}

.restaurant-item_title {
	font-weight: 500;
	font-size: 16px;
}

.restaurant-item_title a {
	transition: 0.3s opacity;
	display: block;
  min-height: 44px;
  padding: .6rem 0;
	text-decoration: none;
	color: inherit;
}

.restaurant-item_title a:hover, .restaurant-item_title a:focus {
	opacity: 0.5;
}

.restaurant-item_description {
	font-size: 12px;
	line-height: 1.5em;
}

.restaurant-item-btn {
	margin-top: 16px;
	min-width: 44px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #fff;
	border: .05rem solid #ce1212;
	border-radius: .1rem;
	color: #ce1212;
	cursor: pointer;
	display: inline-block;
	font-size: .8rem;
	height: 1.8rem;
	line-height: 1.2rem;
	outline: 0;
	padding: .6rem .4rem;
	text-align: center;
	text-decoration: none;
	transition: background .2s, border .2s, box-shadow .2s, color .2s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;
	min-height: 44px;
}

.restaurant-item-btn:hover,
.restaurant-item-btn:focus {
	background: #fcf1f1;
	border-color: #ce1212;
	text-decoration: none;
} */

/*
  Restaurant
*/

.panel {
	padding: 15px;
  margin-bottom: 1.25rem;
  border-radius: 0;
  background-color: #FFF;
  -webkit-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%), 0 0 2px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%), 0 0 2px 0 rgb(0 0 0 / 12%);
}
 
.restaurant {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px 16px;
}
 
.restaurant .restaurant_photo {
  width: 100%;
  max-width: 400px;
}
 
.restaurant .restaurant_info h4 {
  margin: 8px 0;
}

.restaurant .restaurant_food ul, .restaurant .restaurant_drink ul {	
	padding-inline-start: 25px;
}

/*
 * footer
 */

footer {
  padding: 16px;
	background-color: #810000;
}
 
footer p {
  text-align: center;
  color: #eeeeee;
}
 
footer p a {
  color: #cecece;
  text-decoration: none;
}

footer p a:focus, footer p a:hover {
  color: #fff;
}


/* footer {
	background-color: #810000;
	padding: 2em;
	width: 100%;
	text-align: center;
}

footer p {
	text-align: center;
	color: #fff;
} */